.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 25px;
	background: #282c34;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}